* { box-sizing: border-box; }

html, body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.start {
    text-align: center;

    p {
        font-size: 0.7em;
        padding: 1vw;
        color: #555;
    }
}

.sets {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 5vh auto;
    max-width: 600px;

    > div {
        flex: 0 0 auto;
        width: 14vw;
        height: 10vw;
        margin: 0.5vh 0.5vw 5vh 0.5vw;
        border-radius: 2vh;
        box-shadow: 0 0 1vw rgba(0,0,0,0.25);
        color: #000;
        position: relative;
        background: linear-gradient(to bottom, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%) 50% 50% no-repeat;
        background-size: cover;
        cursor: pointer;

        h2 {
            position: absolute;
            top: 0;
            margin: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(255,255,255,0.5);
            border-top-left-radius: 2vh;
            border-top-right-radius: 2vh;
            font-size: 1.2em;
        }
        p.credit {
            position: absolute;
            bottom: -4em;
            left: 0;
            right: 0;
        }
    }
}

.board {
    display: -webkit-flex;
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-content: stretch;
    justify-content: center;
    padding-left: 1.5vmin;

    > div {
        flex: 1 1 15vw;
    }

    &.Emoji {
        .card {
            font-family: "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Lucida Sans Unicode", sans-serif;
            font-size: 4em;
            overflow: hidden;
        }
    }
}

.results {
    position: absolute;
    left: 30%;
    top: 30%;
    bottom: 30%;
    right: 30%;
    padding: 10px;
    box-shadow: 0 0 10vh rgba(0,0,0,0.75);
    background-color: rgba(255,255,255,0.75);
    color: #000;
    text-align: center;

    button {
        font-size: 24px;
        cursor: pointer;
    }
}

//.transition (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transition: @value; }
//.transform (@value1,@value2:X,...) { @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`; transform: @value; }
//.transform-style(@style:preserve-3d) { transform-style:@style; }
//.backface-visibility-hidden { backface-visibility:hidden;  }
//.perspective(@amount: 1000px) { perspective:@amount; }

.card {
    perspective: 1000px;
    color: white;
    text-align: center;
    height: 23.25vh;
    line-height: 23.25vh;
    max-width: 18vw;
    margin: 1.5vmin 1.5vmin 0 0;
    font-size: 12vh;
    cursor: pointer;

    > div.card-inner {
        float:left;
        width:100%;
        height:100%;
        position:relative;
        transform-style: preserve-3d;

        .front, .back {
            display:block;
            backface-visibility: hidden;
            position: absolute;
            top:0; right: 0; bottom: 0; left:0;
            transform-style: preserve-3d;
            transition: transform ease 500ms;
        }

        .front {
            background-color: #CCAD93;
            border-color: #CCAD93;
        }
        .back {
            background-size: cover;
            background: white 50% 50%;
            border: 1px solid #333333;
            width: 100%;
            height: 100%;
            color: black;
        }
    }

    &.matched .back {
        border-color: green !important;
        background-color: green !important;
        color: white !important;
    }

    &.horizontal {
        .front {
            transform: rotateY(0deg);
        }
        .back {
            transform: rotateY(-180deg);
        }

        .card-inner.flipped {
            .front {
                transform: rotateY(180deg);
            }
            .back {
                transform: rotateY(0deg);
            }
        }
    }

    &.vertical {
        .front {
            transform: rotateX(0deg);
        }
        .back {
            transform: rotateX(-180deg);
        }

        .card-inner.flipped {
            .front {
                transform: rotateX(180deg);
            }
            .back {
                transform: rotateX(0deg);
            }
        }
    }
}

@media (orientation: portrait) {
    .board > div {
        flex: 1 1 23.5vw;
    }

    .board .card {
        max-width: 23.5vw;
        height: 15.5vh;
        line-height: 15.5vh;
        font-size: 7.5vh;
        margin-top: 1vh;
    }

    .sets {
        align-items: center;

        > div {
            flex: 1 0 45vw;
            max-width: 45vw;
            height: 20vh;
            margin: 0 2.5vw 5vh 2.5vw;

            p.credit {
                position: absolute;
                bottom: -3em;
                left: 0;
                right: 0;
            }
        }
    }
}
